#main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 150px;
    height: 120px;
    background-color: red;
    margin: 10px 20px 0 0;
    border-radius: 60% / 9%;
    position: relative;
}
.logo::before{
    content: "";
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: -9.5%;
    right: -9.5%;
    background-color: red;
    border-radius: 9% / 50%;
}
.logo::after{
    content: "";
    position: absolute;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 34px solid white;
    left: 58px;
    top: 35px;
}
.text{
    font-size: 120px;
    font-family: "oswald",sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    color: #212121;
}